/* variables */
:root {
    --source: 'Source Sans Pro', sans-serif;
    --inter: 'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;



    /* colors */
    --dark: #414141;
    --orange: #F15A46;
    --dark1: #111111;
    --muted: #6E6E6E;


    /* gaps */
    --hundred: 100px;
    --sixty: 60px;
    --fifty: 50px;


    /* sizes */
    --twentyTwo: 22px;
}


/* universal */

.source {
    font-family: var(--source)
}

.inter,
* {
    font-family: var(--inter)
}

.roboto {
    font-family: var(--roboto)
}

.fs-22 {
    font-size: var(--twentyTwo);
}



/* header part */
.img-fluid.logo {
    height: var(--fifty);
}

.dark {
    color: var(--dark) !important;
}

.nav-link {
    border-top: 2px solid transparent;
}

.nav-link.active,
.nav-link:hover {
    border-top: 2px solid var(--orange);
}

.btn-orange {
    background-color: var(--orange) !important;
}

/* banner area */
.header-title-xl {
    font-size: 70px;
}

.title {
    color: var(--dark1);
}

.muted {
    color: var(--muted);
}

.subtitle-xl {
    font-size: 32px;
}

.py-100 {
    padding-top: var(--hundred);
    padding-bottom: var(--hundred);
}

.btn-dark {
    font-size: var(--twentyTwo);
    background-color: var(--dark1) !important;
}

.mt-60 {
    margin-top: var(--sixty);
}

.mb-50 {
    margin-bottom: var(--fifty);
}

.fs-28 {
    font-size: 28px;
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
}


/* counter */
.counter-text {
    font-size: 52px;
    font-weight: 800;
}